


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

button {
    
    height: 20%;
    font-size: 30px;
    border-radius: 100%;
    flex-basis: 19%;
    font-weight: bolder;
    text-align: center;
}

.outer-box {
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    height:800px;
    width: 600px;
    padding: 30px;
    gap: 3em;
    border-radius: 30px;
   
}


.screen {
    display: flex;
    height: 300px;
    width: 600px;
    background-color: #343434;
    border-radius: 20px;
    justify-content: end;
    align-items: flex-end;
    

    
}

.screen p {
    font-size: 80px;
    margin: 0px 20px 10px 0px;
    color: #4e9a06;
    overflow-x: scroll;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    gap: 2em;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}

.operator {
    background-color: rgb(255, 170, 11);
    border: #eaeaea;
}

.digit {
    background-color: #343434;
    color: aliceblue;
    border: white;
    transition: background-color 0.3s ease;
}

.clear ,  .equalsTo {
    background-color: white;
    border: white;
}


.digit:hover {
    background-color: rgb(255, 170, 11); /* Color when hovering */
    color: black;
  }



